.hero{
  width:100%;
  padding:120px 0;
  background-image: url('./liverpoolhero.jpeg');
  background-repeat:no-repeat;
  background-size:cover;
  text-align:center;
  font-size:48px;
  color:#ffffff;
}

h3{
  width:100%;
  text-align:center;
}

.activity-wrapper{
  margin-top:100px;
  margin-bottom:100px;
}

.activities{
  width:100%;
  margin-top:50px;
  margin-bottom:50px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:center;
}

.activity-header{
  font-size:36px;
  font-wieght:bold;
}

.activity{
  width:300px;
}

.activity img{
	max-width:270px;
min-width:270px;
  max-height:222px;
}

button{
  margin:25px;
  padding:10px 20px;
  border:none;
  border-radius: 20px;
  background-color:#000000;
  color:#ffffff;
}

button:hover{
  background-color:#7FDEFF;
}


.guide{
  display:flex;
  justify-content:center;
  margin-left:200px;
  margin-right:200px;
  padding:50px;
  border-radius:5px;
  background-color:#7FDEFF;
}
.guide .right{
  padding:50px;
}